:root{
    --primaryColor: #686BF5;
    --colorBody:#858587;
    --colorBodyDark: #646C75;
    
}
*, *::before,*::after{
    box-sizing: border-box;
}

/*Typography*/
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--colorBody);
}
html{
    scroll-behavior: smooth;
    font-weight: 62.5%;
}

h1{
    color: var(--primaryFontColor);
    font-size: 2rem;
}
h2{
    color: var(--darkFontColor);
    font-size: 3rem;
}
h3{
    color: var(--primaryColor);
}
a{
    text-decoration: none;
    text-align: center;
    color: var(--primaryColor);
}
ul{
    list-style: none;
}

/*Button*/
.btn{
    border-radius: 4px;
    border: 1px solid var(--primaryColor);
    padding: 0.5rem;
    font-size: 0.7rem;
    height: 30px;
}
.btn:hover{
    background-color: var(--primaryColor);
    color: #fff;
    
}


/*Navigation Bar*/
.nav{
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

.companyLogo{
    width: 70px;
    height: 70px;    
}
@media screen and (min-width:768px){
    .nav{
        justify-content: flex-start;
    }
    .companyLogo{
        width: 100px;
        height: 100px;
    }
}

