:root{
    --primaryColor: #686BF5;
    --colorBody:#858587;
    --colorBodyDark: #646C75;
    --fontSize: 1rem;
    --boxShadow: 0 0 20px 10px #f3f3f3;
    --IconColor: #888F95;
    --PercentageIncrease: #93D56C;
    --PercentageDecline: #D95849;
    
}
*, 
*::before,
*::after{
    box-sizing: border-box;
}

/*Typography*/
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #E7E7FF;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
    font-weight: 62.5%;
}

h1{
    color: var(--primaryFontColor);
    font-size: var(--fontSize);
    color: var(--primaryColor);
}
h2{
    color: var(--darkFontColor);
    font-size: var(--fontSize);
    color: var(--colorBodyDark);
}
h3{
   color: var(--colorBodyDark);
   font-size: 0.6rem;
   font-weight: 400;
}
p{
    color: var(--colorBody);
}
@media screen and (min-width:768px){
    h1{
        font-size: calc(var(--fontSize) + 0.7rem);
    }
}


a{
    text-decoration: none;
    text-align: center;
    color: var(--primaryColor);
}
ul{
    list-style: none;
}
.percentage{
    font-size: 0.6rem;
}
.percentageIncrease{
    color: var(--PercentageIncrease);
}
.percentageDecline{
    color: var(--PercentageDecline);
}
.amount{
    font-weight: 700;
    color: var(--colorBodyDark);
    margin: 0;
}
.card__label{
    font-weight: 600;
    font-size: 0.7rem;
    color: var(--colorBody);
}

/*Button*/
.btn{
    border-radius: 40px;
    background-color: var(--primaryColor);
    color: #fff;
    border: 0;
    padding: 1rem 2.5rem;
    font-size: 0.5rem;
    height: 35px;
    text-align: center;
    
}
.btn a{
    color: #fff;
    text-align: center;
}




/*Navigation Bar*/
.nav{
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

.companyLogo{
    width: 70px;
    height: 70px;    
}
@media screen and (min-width:768px){
    .nav{
        justify-content: flex-start;
    }
    .companyLogo{
        width: 100px;
        height: 100px;
    }
}
/*forms*/
.formContainer{
    display: flex;
    justify-content: center;
}
.form{
    background-color: #fff;
    border-radius: 6px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.input{
    display: block;
    margin-bottom: 15px;
    border: 0;
    border-radius: 7px;
    box-shadow:var(--boxShadow);
    height: 35px;
    font-size: calc(var(--fontSize) - 0.2rem);
    color: var(--colorBodyDark);
    
}
.input:focus{
    outline: 0;
    border: 2px solid var(--primaryColor);
}
.input:focus:invalid{
    border: 1px solid red;

}

::placeholder{
    font-size: calc(var(--fontSize) - 0.3rem);
    color:var(--colorBody) ;
    padding: 1rem;
    font-weight: bold;
}
form .btn {
    box-shadow: var(--boxShadow);
}
.loginOption{
    font-size: 0.6rem;
    margin-top: 30px;
}

.facebook{
    margin-right: 5px;
}

.signup{
margin-top: 50px;
font-size: calc(var(--fontSize) - 0.3rem);

}
.google{
    margin: left 5px; ;
}

/*Icons*/
.loginIcon{
    width: 25px;
    height: 25px;
}
.iconContainer--round{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: var(--boxShadow);
    padding: 0.2rem;

}


/*STYLES FOR DASHBOARD*/
/*Navigation Bar*/

.NavBar{
display: flex;
flex-direction: column;

}
.companyLogo{
    align-self: self-start;
}
.NavBar p {
    font-size: 0.7rem;
    margin-top: 70px;
    margin-left: 10px;
}

.NavIcon{
    width: 20px;

}

.NavIcon__container{
    display: flex;
    flex-direction: row;  
}
/*CARDS*/

.card{
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7rem;
    width: 130px;
    /*
    margin-top: 70px;
    margin-left: 40PX; */
}
.card--large{
    width: 500px;
    
}
.card h1{
    font-size: 1rem;
}
/*BOXES*/
.box{
    width: 30px;
    background-color: gold;
    border-radius: 4px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.paypal{
    background-color: #FFE7E3;
}
.wallet{
    background-color:#EEEDFF;
}
.transfer{
    background-color:#E0F7FD ;
}
.CreditCard{
    background-color:#EEFBE7;
}
.mastercard{
background-color: #FFF5E1;
}

/*TRANSACTIONS*/
.Transactions{
    margin: 0 0 20px;
}
.ContentWrapper{
    display: flex;
}
.TransactionContent{
    display: flex;
    justify-content: space-between;
}

.TransactionDetails{
    margin-left: 10px;
    
}

.TransactionName{
    font-weight: 300;
    color: var(--colorBody);
}
.TransactionType{
    color: var(--colorBodyDark);
    font-size: calc(var(--fontSize) - 0.4rem);
    font-weight: 600;
    margin-top: 0;
    margin-bottom:0 ;

}
.TransactionAmount{
    font-size: calc(var(--fontSize) - 0.3rem);
    font-weight: 600;
    margin-top: 15px;
}
.Currency{
    opacity: 0.7;
}

/*ICONS*/
.IconMain{
    width: 25px;
    height: 30px;

}

.MenuIcon{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-top: 2PX;
}
.IconWrapper{
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.6rem;
    height: 40px;

}
.DownArrow{
    width: 50px;
}

.IncreaseArrow{
    height: 8px;
    margin-top: 11px;
    width: 10px;
    font-size: 50px;
}

.confetti{
    width: 15px;
    height: 15px;
    margin-top: 12px;
    margin-left: 10px;
}

.happyEmoji{
    width: 12px;
    height: 12px;
    margin-top: 25px;
   
   }

   
/*ICON CONTAINERS*/ 

.profitContainer{
    background-color:#E9F8DB;
}
.salesContainer{
   background-color: #D4F5FE; 
}
.paymentIcon{
    width: 25px;
}
.paymentContainer{
    background-color: #FDE0D9;

}
.transactionContainer{
    background-color: #E7E8FE;
}


.walletContainer{
    background-color: #DBF9FC;
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    

}
.percentageContainer{
    display: flex;
      
}

.TaglineContainer{
    display: flex;
}

.Card--Message{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.card .message{
    font-size: 0.6rem;
   
}
@media screen and (min-width:768px){
    
    .Card--Message{
        display: flex;
        flex-direction: row;

    }
    .message{
        margin-bottom: 40px;
    }
 
}


/*BADGES*/
.badge{
    padding:0.3rem 0.5rem;
    font-size:calc(var(--fontSize) - 0.5rem);
    display: inline-flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.badge--square{
    border-radius: 4px;
    background-color:#E7EAFE;
    color:#8B8BC3;
    font-weight: 700;
}

.badge__label{
    color:#8B8BC3;
    font-weight: 700;
}

/*Images*/
.MessageImage{
    width: 200px;
    margin-top: 20px;
    margin-left: 80px;

}
@media screen and (min-width:768px){
  .MessageImage{
        justify-self: center;
    }
}

/*REVENUE BLOCK*/

.barChart{
    width: 300px;
}
.GrowthGauge{
    width: 250px;
}

.dollar,
   .RevenueWallet{
    width: 20px;
    height: 15px;
   }
   
   .dollarContainer{  
    background-color:#EEEDFE;
}
.GrowthContainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width){
    .GrowthContainer{
        justify-content: flex-start;
    }
}
.GrowthYear{
    display: flex;
}
.YearOne{
    display: flex;
    margin-right: 25px;
}

.YearTwo{
    display: flex;
}
.TransactionYear{
    margin-bottom: 3px;
    font-weight: 600;
    opacity: 0.7;
}
.YearTotal{
    font-size: calc(var(--fontSize) - 0.2rem);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.YearDetails{
    margin-left: 7px;
}
.GrowthPercentage{
    font-weight: 700;
}
.BarChartContainer{
    border-bottom: 2px solid #F4F6F5;
}
@media screen and (min-width:768px){
    .BarChartContainer{
        border-bottom: 0;
        border-right: 2px solid #F4F6F5;
        width: 50vw;
    }
}