:root{
    --primaryColor: #686BF5;
    --colorBody:#858587;
    --colorBodyDark: #646C75;
    --fontSize: 1rem;
    --boxShadow: 0 0 20px 10px #f3f3f3;
    --IconColor: #888F95;
    --PercentageIncrease: #93D56C;
    --PercentageDecline: #D95849;
    
}
*, 
*::before,
*::after{
    box-sizing: border-box;
}

/*Typography*/
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #E7E7FF;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
    font-weight: 62.5%;
}

h1{
    color: var(--primaryFontColor);
    font-size: var(--fontSize);
    color: var(--primaryColor);
}
h2{
    color: var(--darkFontColor);
    font-size: var(--fontSize);
    color: var(--colorBodyDark);
}
h3{
   color: var(--colorBodyDark);
   font-size: 0.6rem;
   font-weight: 400;
}
p{
    color: var(--colorBody);
}
@media screen and (min-width:768px){
    h1{
        font-size: calc(var(--fontSize) + 0.7rem);
    }
}


a{
    text-decoration: none;
    text-align: center;
    color: var(--primaryColor);
}
ul{
    list-style: none;
}
.percentage{
    font-size: 0.6rem;
}
.percentageIncrease{
    color: var(--PercentageIncrease);
}
.percentageDecline{
    color: var(--PercentageDecline);
}
.amount{
    font-weight: 700;
    color: var(--colorBodyDark);
    margin: 0;
}
.card__label{
    font-weight: 600;
    font-size: 0.7rem;
    color: var(--colorBody);
}

/*Button*/
.btn{
    border-radius: 40px;
    background-color: var(--primaryColor);
    color: #fff;
    border: 0;
    padding: 1rem 2.5rem;
    font-size: 0.5rem;
    height: 35px;
    text-align: center;
    
}
.btn a{
    color: #fff;
    text-align: center;
}




/*Navigation Bar*/
.nav{
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

.companyLogo{
    width: 70px;
    height: 70px;    
}
@media screen and (min-width:768px){
    .nav{
        justify-content: flex-start;
    }
    .companyLogo{
        width: 100px;
        height: 100px;
    }
}
/*forms*/
.formContainer{
    display: flex;
    justify-content: center;
}
.form{
    background-color: #fff;
    border-radius: 6px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.input{
    display: block;
    margin-bottom: 15px;
    border: 0;
    border-radius: 7px;
    box-shadow:var(--boxShadow);
    height: 35px;
    font-size: calc(var(--fontSize) - 0.2rem);
    color: var(--colorBodyDark);
    
}
.input:focus{
    outline: 0;
    border: 2px solid var(--primaryColor);
}
.input:focus:invalid{
    border: 1px solid red;

}

::placeholder{
    font-size: calc(var(--fontSize) - 0.3rem);
    color:var(--colorBody) ;
    padding: 1rem;
    font-weight: bold;
}
form .btn {
    box-shadow: var(--boxShadow);
}
.loginOption{
    font-size: 0.6rem;
    margin-top: 30px;
}

.facebook{
    margin-right: 5px;
}

.signup{
margin-top: 50px;
font-size: calc(var(--fontSize) - 0.3rem);

}
.google{
    margin: left 5px; ;
}

/*Icons*/
.loginIcon{
    width: 25px;
    height: 25px;
}
.iconContainer--round{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: var(--boxShadow);
    padding: 0.2rem;

}


/*STYLES FOR DASHBOARD*/
/*Navigation Bar*/

.NavBar{
display: flex;
flex-direction: column;

}
.companyLogo{
    align-self: self-start;
}
.NavBar p {
    font-size: 0.7rem;
    margin-top: 70px;
    margin-left: 10px;
}

.NavIcon{
    width: 20px;

}

.NavIcon__container{
    display: flex;
    flex-direction: row;  
}
/*CARDS*/

.card{
    background-color: #fff;
    border-radius: 7px;
    padding: 0.7rem;
    width: 130px;
    /*
    margin-top: 70px;
    margin-left: 40PX; */
}
.card--large{
    width: 260px;
    
}
.card h1{
    font-size: 1rem;
}
/*BOXES*/
.box{
    width: 30px;
    background-color: gold;
    border-radius: 4px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.paypal{
    background-color: #FFE7E3;
}
.wallet{
    background-color:#EEEDFF;
}
.transfer{
    background-color:#E0F7FD ;
}
.CreditCard{
    background-color:#EEFBE7;
}
.mastercard{
background-color: #FFF5E1;
}

/*TRANSACTIONS*/
.Transactions{
    margin: 0 0 20px;
}
.ContentWrapper{
    display: flex;
}
.TransactionContent{
    display: flex;
    justify-content: space-between;
}

.TransactionDetails{
    margin-left: 10px;
    
}

.TransactionName{
    font-weight: 300;
    color: var(--colorBody);
}
.TransactionType{
    color: var(--colorBodyDark);
    font-size: calc(var(--fontSize) - 0.4rem);
    font-weight: 600;
    margin-top: 0;
    margin-bottom:0 ;

}
.TransactionAmount{
    font-size: calc(var(--fontSize) - 0.3rem);
    font-weight: 600;
    margin-top: 15px;
}
.Currency{
    opacity: 0.7;
}

/*ICONS*/
.IconMain{
    width: 25px;
    height: 30px;

}
.Icon--Small{
    width: 20px;
    height: 20px;
}

.MenuIcon{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-top: 2PX;
}
.IconWrapper{
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.6rem;
    height: 40px;

}
.IconWrapper--Small{
    padding: 0.1;
}
.DownArrow{
    width: 50px;
}
.UpArrow{
    width: 10px;
    height: 10px;
    padding-top: 3px;
    margin-left: 10PX;
}

.IncreaseArrow{
    height: 8px;
    margin-top: 11px;
    width: 10px;
    font-size: 50px;
}

.confetti{
    width: 15px;
    height: 15px;
    margin-top: 12px;
    margin-left: 10px;
}

.happyEmoji{
    width: 12px;
    height: 12px;
    margin-top: 25px;
   
   }

   
/*ICON CONTAINERS*/ 

.profitContainer{
    background-color:#E9F8DB;
}
.salesContainer{
   background-color: #D4F5FE; 
}
.paymentIcon{
    width: 25px;
}
.paymentContainer{
    background-color: #FDE0D9;

}
.transactionContainer{
    background-color: #E7E8FE;
}


.walletContainer{
    background-color: #DBF9FC;
}
.PhoneContainer{
    background-color: #EDEBFE;
}
.hangerContainer{
    background-color: #EEFBE7;
}
.homeContainer{
    background-color:#E3F4FE;
}
.sportContainer{
    background-color: #EFF2F8;
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    

}
.percentageContainer{
    display: flex;
      
}

.TaglineContainer{
    display: flex;
}

.Card--Message{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.card .message{
    font-size: 0.6rem;
   
}
@media screen and (min-width:768px){
    
    .Card--Message{
        display: flex;
        flex-direction: row;

    }
    .message{
        margin-bottom: 40px;
    }
 
}


/*BADGES*/
.badge{
    padding:0.3rem 0.5rem;
    font-size:calc(var(--fontSize) - 0.5rem);
    display: inline-flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: 700;
}

.badge--square{
    border-radius: 4px;
    background-color:#E7EAFE;
    color:#8B8BC3;
}
.badge--round{
    background-color: #FEF3DD;
    color:#F0BF68;
    border-radius: 50px;
    
}

.badge__label{
    color:#8B8BC3;
    font-weight: 700;
}

/*Images*/
.MessageImage{
    width: 200px;
    margin-top: 20px;
    margin-left: 80px;

}
@media screen and (min-width:768px){
  .MessageImage{
        justify-self: center;
    }
}

/*REVENUE BLOCK*/

.barChart{
    width: 300px;
}
.GrowthGauge{
    width: 250px;
}

.dollar,
   .RevenueWallet{
    width: 20px;
    height: 15px;
   }
   
   .dollarContainer{  
    background-color:#EEEDFE;
}
.GrowthContainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width){
    .GrowthContainer{
        justify-content: flex-start;
    }
}
.GrowthYear{
    display: flex;
}
.YearOne{
    display: flex;
    margin-right: 25px;
}

.YearTwo{
    display: flex;
}
.TransactionYear{
    margin-bottom: 3px;
    font-weight: 600;
    opacity: 0.7;
}
.YearTotal{
    font-size: calc(var(--fontSize) - 0.2rem);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.YearDetails{
    margin-left: 7px;
}
.GrowthPercentage{
    font-weight: 700;
}
.BarChartContainer{
    border-bottom: 2px solid #F4F6F5;
}
@media screen and (min-width:768px){
    .BarChartContainer{
        border-bottom: 0;
        border-right: 2px solid #F4F6F5;
        width: 50vw;
    }
}

/*PROFILE REPORT BLOCK*/
.wave{
    fill: #F9AA17;
}

.WaveContainer{
    width: 50vw;
    display: flex;
    justify-content: center;
   
}
@media screen and (min-width:768px){
    .WaveContainer{
        justify-content: center;
        align-items: center;
    }
}
.ProfileReport{
    width: 50vw;
}
.ProfileReport .percentage{
    margin-bottom: 0;
    font-weight: 600;
}

.ProfileReport .badge--round{
    margin-top: 0;
    margin-bottom: 5px;
}
.ProfileReport H2{
    margin-bottom: 4px;
}

/*ORDER STATS*/
.TotalSales{
    font-size: calc(var(--fontSize) - 0.4rem);
    font-weight: 600;
    opacity: 0.6;
    margin-top: 7px;
}
.stats h2{
    margin: 3px 0 2px;
}

.OrderChart{
    
    width: 80px;
}
.OrderDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-grow: 0;
    position: relative;
}

.OrderPercentage{
    position: absolute;
    bottom: 20px;
    left: 180px;
    

}

.ChartDetails .OrderPercentage{
    font-size: calc(var(--fontSize) - 0.4rem);
    font-weight: 700;
    color: var(--colorBodyDark);

}
.ChartDetails .duration{
    opacity: 0.6;
}

.ChartDetails {
    margin-left: 40px;
}
.OrderContainer h3{
    font-weight: 600;
    opacity: 0.6;
    
}
.OrderStatsHistory{
    margin-left: 10px;
    margin-bottom: 15px;
}
.OrderContent{
    display: flex;
    justify-content: space-between;

}

.OrderCategory{
    color: var(--colorBodyDark);
    font-size: calc(var(--fontSize) - 0.4rem);
    font-weight: 600;

}

.OrderType{
    font-weight: 300;
    font-size: calc(var(--fontSize) - 0.4rem);
    color: var(--colorBody);
    margin-top: 0;
    margin-bottom:0;
    opacity: 0.6;

}
.OrderStatistics{
    font-size: calc(var(--fontSize) - 0.2rem);
    opacity: 0.9;
}
.OrderContainer .amount{
    font-size: calc(var(--fontSize) + 0.5rem);
}
.statDetails{
    margin-bottom: ;
}

/*INCOME BLOCK*/
.LineChart{
    width: 240px;
}

.IncomeGauge{
    width: 100px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 0;
}
    
.headingList{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-right: 3rem;
}

.headingList .ListItem{
    font-size: calc(var(--fontSize) - 0.4rem);
    color: var(--colorBody);
    font-weight: 600;
    opacity: 0.8;
}
.IncomeBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Income__label{
    font-weight: 600;
    opacity: 0.8;
    color: var(--colorBodyDark);
}
.Income__amount{
    font-weight: 700;
    color: var(--colorBodyDark);
    margin-top: 0;
}

.Income__Info{
    display: flex;
    
}
.Income__Info .percentage{
    margin-top: 5px;
    margin-left: 2px;
}
.Income__details .UpArrow{
    margin-top: 0;
}
.IncomeDetails{
   padding-left: 1.5rem;
}
.income{
    margin-left:0 ;
    margin-right: 15px;
}
.expenses{
    margin-right: 15px;
    margin-left: 0;
}

.WeeklyIncome{
    display: flex;
}

.WeeklyIncome p{
    margin-top: 25px;
    font-size: calc(var(--fontSize) - 0.5rem);
    margin-left: 0;
    margin-right: 15px;
    opacity: 0.6;
}
.darkText{
    color: var(--colorBodyDark);
    font-weight: 600;
    opacity: 1;
}

.ListItem:hover{
    background-color: #6A6BFF;
    border-radius: 7px;
    padding:0.3rem;
    color: #fff;
}

/* MAIN NAVIGATION BAR*/
.NavigationBar{
    display: flex;
}
.NavigationIcon{
    width: 30PX;
    height:30px
}
.ProfilePicture{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.ActivityStatus{
    width: 7px;
    height: 7px;
}

/*INPUTS*/
.NavInput{
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 30px;
    outline: 0;
    color: var(--colorBody);
    
}
.NavInput::placeholder{
    color: var(--colorBody);
    font-weight: 300;
    opacity: 0.6;
    
}
@media screen and (min-width:768px){
    .NavInput{
        padding: 1rem 2rem;
    }
    .NavInput::placeholder{
        font-size: 1rem;
    }
}

.InputGroup{
    
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-size: calc(bar(--fontSize) - 0.4rem);
    
}
.InputGroup .NavigationIcon{
    width: 20px;
    margin-top: 2px;
}

.InputGroup .NavInput{
    flex: 1;
    border: 0;
}
.InputGroup .SearchIcon{
    margin-left: 40px;
    margin-right: 0;
}