<div class="card Card--Message">
    <div class="wrapper">
        <div class="TaglineContainer">
            <h1 class="">Congratulations John!</h1>
            <svg class="icon confetti">
                <use xlink:href="CSS/Images/sprite (8).svg#confetti"></use>
              </svg>
        </div>
        <p class="message">You have done 72% <span><svg class="icon happyEmoji">
            <use xlink:href="CSS/Images/sprite (8).svg#happy"></use>
          </svg></span>more sales today<br> check your new raising badge in your profile</p>
          <span class="badge badge--square badge__label">VIEW BADGES</span>
    </div>
    <div>
        <img src="CSS/Images/John Illustration.png" alt="man illustration" class="MessageImage">
    </div>
</div>