<nav class="NavigationBar">
    <a href="#">
        <svg class="icon NavigationIcon">
            <use xlink:href="CSS/Images/sprite (8).svg#menu"></use>
          </svg>
    </a>
      <a href="#">
          <svg class="icon NavigationIcon">
            <use xlink:href="CSS/Images/sprite (8).svg#search interface"></use>
          </svg>
      </a>
      <a href="#">
          <svg class="icon NavigationIcon">
            <use xlink:href="CSS/Images/sprite (6).svg#github"></use>
          </svg>
      </a>
      <a href="#">
        <svg class="icon NavigationIcon">
          <use xlink:href="CSS/Images/sprite (6).svg#notification-bell"></use>
        </svg>
    </a>

    <a href="#">
        <svg class="icon NavigationIcon">
          <use xlink:href="CSS/Images/sprite (6).svg#brightness"></use>
        </svg>
    </a>
    <div>
        <a href="">
        <img src="CSS/Images/pfp.png" alt="Profile Picture" class="ProfilePicture">
        </a>
        <svg class="icon ActivityStatus">
            <use xlink:href="CSS/Images/sprite (7).svg#online"></use>
          </svg>
    </div>
</nav>
  

</div>