<body>
    <div class="card card--large">
        <div class="menuContainer">
            <div class="stats">
                <H2 class="OrderStatistics">Order Statistics</H2>
                <p class="TotalSales">42.82K Total Sales</p>
            </div>
            <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
     </div>
<div class="OrderDetails">
    
         <div class="OrderContainer">
            <p class="amount">8,258</p>
            <h3>Total orders</h3>
         </div>
         <div class="ChartDetails">
            <img src="CSS/Images/total orders.png" alt="Order chart" class="OrderChart">
            <p class="OrderPercentage">38% <br> <span class="duration">Weekly</span></p>
         </div>
</div>
<div class="statDetails">
    <div class="OrderContent">
        <div class="ContentWrapper">
            <span class="IconWrapper IconWrapper--Small PhoneContainer">
                <svg class="icon Icon--Small">
                    <use xlink:href="CSS/Images/sprite (6).svg#iphone"></use>
                  </svg>
            </span>
            <div class="OrderStatsHistory">
                <h3 class="OrderCategory">Electronic</h3>
                <p class="OrderType">Mobile, Earbuds, Tv</p>
        </div>
        </div>
        <p class="TransactionAmount">82.5k</p>
     </div>

     <div class="OrderContent">
        <div class="ContentWrapper">
            <span class="IconWrapper IconWrapper--Small hangerContainer">
                <svg class="icon Icon--Small">
                    <use xlink:href="CSS/Images/sprite (6).svg#coat-hanger"></use>
                  </svg>
            </span>
            <div class="OrderStatsHistory">
                <h3 class="OrderCategory">Fashion</h3>
                <p class="OrderType">Tshirt, Jeans, Shoes</p>
        </div>
        </div>
        <p class="TransactionAmount">23.8k</p>
     </div>

     <div class="OrderContent">
        <div class="ContentWrapper">
            <span class="IconWrapper IconWrapper--Small homeContainer">
                <svg class="icon Icon--Small">
                    <use xlink:href="CSS/Images/sprite (8).svg#home"></use>
                  </svg>
            </span>
            <div class="OrderStatsHistory">
                <h3 class="OrderCategory">Decor</h3>
                <p class="OrderType">Fine Art, Dining</p>
        </div>
        </div>
        <p class="TransactionAmount">849</p>
     </div>

     <div class="OrderContent">
        <div class="ContentWrapper">
            <span class="IconWrapper IconWrapper--Small sportContainer">
                <svg class="icon Icon--Small">
                    <use xlink:href="CSS/Images/sprite (6).svg#football"></use>
                  </svg>
            </span>
            <div class="OrderStatsHistory">
                <h3 class="OrderCategory">Sports</h3>
                <p class="OrderType">Football, Cricket Kit</p>
        </div>
        </div>
        <p class="TransactionAmount">99</p>
     </div>
</div>