<div class="card Card--Message">
    <div class="ProfileReport">
        <h2>Profile Report</h2>
        <span class="badge badge--round">YEAR 2022</span>
        <div class="percentageContainer">
            <svg class="icon IncreaseArrow">
                <use xlink:href="CSS/Images/sprite (7).svg#top"></use>
              </svg>
              <p class="percentage percentageIncrease">68.2%</p>
        </div>
        <p class="amount">$84,686k</p>
    </div>
    <div class="WaveContainer">
        <svg class="icon wave">
            <use xlink:href="CSS/Images/sprite (8).svg#wavee"></use>
          </svg>

    </div>

</div>