<div class="card Card--Message">
    <div>
        <div class="menuContainer">
            <h2>Total Revenue</h2>
            <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
        </div>

        <div class="BarChartContainer">
            <img src="CSS/Images/barchart.png" alt="barchart" class="barChart">
        </div>

    </div>
    <div class="GrowthContainer">
        <span class="badge badge--square DownArrow">2023<svg class="icon">
            <use xlink:href="CSS/Images/sprite (8).svg#face down"></use>
          </svg>
        </span>
        <img src="CSS/Images/SalesGauge.png" alt="growth gauge" class="GrowthGauge">
        <h3>60% Growth</h3>
        <div class="GrowthYear">
            <div class="YearOne">
                <span class="IconWrapper walletContainer">
                    <svg class="icon IconMain RevenueWallet">
                        <use xlink:href="CSS/Images/sprite (6).svg#wallet (1)"></use>
                      </svg>
                </span>
                <div class="YearDetails">
                    <h3 class="TransactionYear">2023</h3>
                    <p class="YearTotal">$32.5k</p>
                </div>
            </div>
              <div class="YearTwo">
                  <span class="IconWrapper dollarContainer">
                      <svg class="icon IconMain dollar">
                        <use xlink:href="CSS/Images/sprite (6).svg#dollar"></use>
                      </svg>
                    </span>
                    <div class="YearDetails">
                        <h3 class="TransactionYear">2022</h3>
                        <p class="YearTotal">$41.2k</p>
                    </div>
              </div>
        </div>
    </div>
</div>