<div class="sideBar">
  <a href="">
      <img src="CSS/Images/stripe.png" alt="Company Logo" class="companyLogo">
  </a>
          <div class="sideBarIcon__container">
              <span>
                  <svg class="icon sideBarIcon">
                  <use xlink:href="CSS/IMAGES/SPRITE (6).svg#home icon (dashboard)"></use>
                </svg>
              </span>
              <p>Dashboard</p>
          </div>
          <div class="sideBarIcon__container">
              <span>
                  <svg class="icon sideBarIcon">
                  <use xlink:href="CSS/IMAGES/SPRITE (6).svg#User setting"></use>
                </svg>
              </span>
              <p>Account Setting</p>
          </div>



      <h3 class="sideBar__tag">PAGES</h3>
     <div class="sideBarIcon__container">
      <span>
          <svg class="icon sideBarIcon">
          <use xlink:href="CSS/IMAGES/SPRITE (6).svg#log-in"></use>
        </svg>
      </span>
      <p>Login</p>

      </div>

      <div class="sideBarIcon__container">
          <span>
              <svg class="icon sideBarIcon">
              <use xlink:href="CSS/IMAGES/SPRITE (6).svg#register"></use>
            </svg>
          </span>
          <p>Register</p>
      </div>
    </div>