

<div class="card">
    <div class="menuContainer">
        <span class="IconWrapper profitContainer">
            <svg class="icon IconMain">
                <use xlink:href="CSS/Images/sprite (6).svg#pie-chart green"></use>
              </svg>
        </span>
        <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
    </div>
    <h3 class="card__label">Profit</h3>
    <p class="amount">$12,628</p>
    <div class="percentageContainer">
        <svg class="icon IncreaseArrow">
            <use xlink:href="CSS/Images/sprite (7).svg#top"></use>
          </svg>
          <p class="percentage percentageIncrease">72.8%</p>
    </div>

</div>

<div class="card">
    <div class="menuContainer">
        <span class="IconWrapper salesContainer">
            <svg class="icon IconMain">
                <use xlink:href="CSS/Images/sprite (6).svg#wallet"></use>
              </svg>
        </span>
        <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
    </div>
    <h3 class="card__label">Sales</h3>
    <p class="amount">$4,679</p>
    <div class="percentageContainer">
        <svg class="icon IncreaseArrow">
            <use xlink:href="CSS/Images/sprite (7).svg#top"></use>
          </svg>
          <p class="percentage percentageIncrease">28.42%</p>
    </div>

</div>

<div class="card">
    <div class="menuContainer">
        <span class="IconWrapper paymentContainer">
            <svg class="icon IconMain">
                <use xlink:href="CSS/Images/sprite (6).svg#p logo red"></use>
              </svg>
        </span>
        
        <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
    </div>
    <h3 class="card__label">Payments</h3>
    <p class="amount">$2,468</p>
    <div class="percentageContainer">
        <svg class="icon IncreaseArrow">
            <use xlink:href="CSS/Images/sprite (7).svg#down-arrow"></use>
          </svg>
          <p class="percentage percentageDecline">-14.82%</p>
    </div>
    
</div>

<div class="card">
    <div class="menuContainer">
        <span class="IconWrapper transactionContainer">
            <svg class="icon IconMain">
                <use xlink:href="CSS/Images/sprite (6).svg#transaction"></use>
              </svg>
        </span>
        <img src="CSS/Images/menu icon.png" alt="menu icon" class="MenuIcon">
    </div>
    <h3 class="card__label">Transactions</h3>
    <p class="amount">$14,857</p>
    <div class="percentageContainer">
        <svg class="icon IncreaseArrow">
            <use xlink:href="CSS/Images/sprite (7).svg#top"></use>
          </svg>
          <p class="percentage percentageIncrease">28.14%</p>
    </div>

</div>
